.bg-img-icon{
display:flex;
justify-content: center;
align-items: center;
background-image: url("/images/icon.jpg");
background-size: contain;
background-position: center;
background-repeat: no-repeat;
width: 78em;
height: 33em;
opacity: 100%;
}

h1.title{
opacity: 100%;
color: red;
display: flex;
justify-content: center;
margin-right: 40px;
align-items: center;
}

